body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 40px;
}

nav a #1{
    margin-right: 200px;
}
.hero {
    text-align: center;
    padding: 50px;
}

.hero img {
    max-width: 100%;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.about-us {
    padding: 50px;
}

header a svg {
    color: #333;
    margin-right: 20px;
}